main{
  width: 100vw;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10;
}

nav{
  background-color: green;
  width: 100%;
  min-height: 60px;
}

nav ul{
  width: 100%;
  list-style: none;
}

nav ul li{
  float: left;
  padding: 1rem;
  font-size: 600;
  color: #fff;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}